@font-face {
  font-family: "releway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RalewayBold/RalewayBold, bold.eot");
  src: url("../fonts/RalewayBold/RalewayBold, bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold, bold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold, bold.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/RalewayLight/RalewayLight.eot");
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/RalewayThin/RalewayThin.eot");
  src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayThin/RalewayThin.woff") format("woff"), url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot");
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"), url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "releway", sans-serif;
  overflow-x: hidden;
}

section, header {
  position: relative;
  background-size: cover;
  background-position: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::-moz-selection {
  background-color: #F9C869;
  color: #fff;
}

::selection {
  background-color: #F9C869;
  color: #fff;
}

.accent {
  color: #F9C869;
}

header.header {
  background-image: url(/img/top-bg.jpg);
  min-height: 700px;
  height: 100vh;
  background-color: #1a1a1a;
}

header.header .top-line {
  padding-top: 40px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

header.header .top-line .logo img {
  width: 310px;
  margin-left: 45px;
}

.phone {
  position: absolute;
  right: 85px;
  top: 44px;
}

.phone a {
  color: #fff;
  font-family: firasans, sans-serif;
  font-size: 22px;
  white-space: nowrap;
}

.phone .fa {
  color: #555;
  font-size: 22px;
  margin-right: 3px;
}

.hamburger {
  position: absolute;
  right: 0;
}

.hamburger .hamburger-box .hamburger-inner, .hamburger .hamburger-box .hamburger-inner::before, .hamburger .hamburger-box .hamburger-inner::after {
  color: #fff;
  width: 34px;
  background-color: #fff;
  border-radius: 0;
  height: 2px;
}

html.mm-opened {
  overflow-y: scroll;
}

.mm-panels > .mm-hasnavbar.mm-opened {
  right: -17px;
}

.mm-navbar {
  height: auto;
  position: relative;
  border: none;
}

.mm-navbar .mm-title img {
  width: 200px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 20px;
}

.mm-panels > .mm-panel::after, .mm-panels > .mm-panel::before {
  height: 0;
}

.mm-panels > .mm-panel.mm-hasnavbar {
  padding-top: 0;
}

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 0;
}

.mm-menu.mm-theme-black .mm-listview > li .mm-next::after, .mm-menu.mm-theme-black .mm-btn::after, .mm-menu.mm-theme-black .mm-btn::before {
  border-color: #fff;
  margin-right: 10px;
}

.mm-listview .mm-next::before {
  border: none;
}

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span {
  background: transparent;
  color: #F9C869;
}

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next)::before, .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span::before {
  color: #F9C869;
}

.mm-listview .mm-next {
  background: #ffe6b633;
}

.mm-listview .mm-next:hover {
  background: #fce3b380;
}

.mm-listview .mm-next:hover .mm-btn::after {
  color: #000;
}

.mm-listview > li > a {
  padding-left: 14%;
  padding-right: 14%;
  -webkit-transition: .25s;
  transition: .25s;
  top: 8px;
}

.mm-listview > li > a:hover {
  color: #fce3b3;
}

.mm-listview > li > a:hover::before {
  color: #fce3b3;
}

.mm-listview > li > a::before {
  content: '\f219';
  font-family: fontawesome;
  margin-right: 8px;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: color .25s;
  transition: color .25s;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
