@font-face {
  font-family: "releway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RalewayBold/RalewayBold, bold.eot");
  src: url("../fonts/RalewayBold/RalewayBold, bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold, bold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold, bold.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/RalewayLight/RalewayLight.eot");
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "releway";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/RalewayThin/RalewayThin.eot");
  src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayThin/RalewayThin.woff") format("woff"), url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot");
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"), url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Chel";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Cheltenham-BlackItalicCY.eot");
  src: url("../fonts/Cheltenham-BlackItalicCY.eot?#iefix") format("embedded-opentype"), url("../fonts/Cheltenham-BlackItalicCY.woff") format("woff"), url("../fonts/Cheltenham-BlackItalicCY.ttf") format("truetype");
}

@font-face {
  font-family: "Varga";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Varga.eot");
  src: url("../fonts/Varga.eot?#iefix") format("embedded-opentype"), url("../fonts/Varga.woff") format("woff"), url("../fonts/Varga.ttf") format("truetype");
}

@font-face {
  font-family: "Flash";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Flash_CY.eot");
  src: url("../fonts/Flash_CY.eot?#iefix") format("embedded-opentype"), url("../fonts/Flash_CY.woff") format("woff"), url("../fonts/Flash_CY.ttf") format("truetype");
}

@font-face {
  font-family: "Chel";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Cheltenham-BlackItalicCY.otf");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

html, body {
  height: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.3;
  text-transform: uppercase;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "releway", sans-serif;
  overflow-x: hidden;
}

section, header {
  position: relative;
  background-size: cover;
  background-position: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

::-moz-selection {
  background-color: #F9C869;
  color: #fff;
}

::selection {
  background-color: #F9C869;
  color: #fff;
}

.accent {
  color: #F9C869;
}

.logo-font {
  font-family: Chel;
  font-size: 25px;
  font-style: none;
  font-weight: normal;
  display: inline;
}

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #F9C869;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer;
}

.button::after {
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: #5f4004;
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}

.button:focus, .button:hover {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  background-color: #fad182;
}

.button:hover::after {
  opacity: .22;
}

.button:active {
  background-color: #f8bf50;
}

.button:active::after {
  opacity: .32;
}

.button {
  margin-top: 20px;
}

.button-white {
  background-color: #fff;
  color: #444444;
}

.button-white::after {
  background-color: rgba(0, 0, 0, 0.9);
}

.button-white:active, .button-white:focus, .button-white:hover {
  background-color: #fff;
  color: #444444;
}

.button-white:hover::after {
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  background-image: url(/img/top-bg.jpg);
  min-height: 700px;
  height: 100vh;
  background-color: #1a1a1a;
  color: #fff;
}

.header .top-line {
  padding-top: 40px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.header .fa {
  opacity: .3;
  margin-right: 10px;
  margin-left: 10px;
}

.header .logo-font {
  opacity: .8;
}

.logo-wrapper {
  margin-top: -100px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.phone {
  position: absolute;
  right: 85px;
  top: 44px;
}

.phone a {
  color: #fff;
  font-family: firasans, sans-serif;
  font-size: 22px;
  white-space: nowrap;
}

.phone .fa {
  color: #555;
  font-size: 22px;
  margin-right: 3px;
}

.hamburger {
  position: absolute;
  right: 0;
}

.hamburger .hamburger-box .hamburger-inner, .hamburger .hamburger-box .hamburger-inner::before, .hamburger .hamburger-box .hamburger-inner::after {
  color: #fff;
  width: 34px;
  background-color: #fff;
  border-radius: 0;
  height: 2px;
}

html.mm-opened {
  overflow-y: scroll;
}

.mm-panels > .mm-hasnavbar.mm-opened {
  right: -17px;
}

.mm-navbar {
  height: auto;
  position: relative;
  border: none;
}

.mm-navbar .mm-title img {
  width: 200px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 20px;
}

.mm-panels > .mm-panel::after, .mm-panels > .mm-panel::before {
  height: 0;
}

.mm-panels > .mm-panel.mm-hasnavbar {
  padding-top: 0;
}

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 0;
}

.mm-menu.mm-theme-black .mm-listview > li .mm-next::after, .mm-menu.mm-theme-black .mm-btn::after, .mm-menu.mm-theme-black .mm-btn::before {
  border-color: #fff;
  margin-right: 10px;
}

.mm-listview .mm-next::before {
  border: none;
}

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span {
  background: transparent;
  color: #F9C869;
}

.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next)::before, .mm-menu.mm-theme-black .mm-listview > li.mm-selected > span::before {
  color: #F9C869;
}

.mm-listview > li > a {
  padding-left: 14%;
  padding-right: 14%;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  top: 8px;
}

.mm-listview > li > a:hover {
  color: #fce3b3;
}

.mm-listview > li > a:hover::before {
  color: #fce3b3;
}

.mm-listview > li > a::before {
  content: '\f219';
  font-family: fontawesome;
  margin-right: 8px;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.hamburger-box {
  width: 34px;
}

.header__text {
  height: 100%;
  position: relative;
  top: 25%;
}

.header__text-center {
  margin: auto;
}

.header__text-composition {
  text-align: center;
  position: relative;
}

.header__text-composition p {
  margin-top: 40px;
}

.header__text-title p {
  text-transform: uppercase;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin: 0;
  margin-bottom: -10px;
}

.header__text-title p span {
  margin: 0 10px;
}

.header__text-title p::before, .header__text-title p::after {
  content: " ";
  height: 1px;
  width: 100%;
  background: #fff;
  position: relative;
  display: inline-block;
}

.header__text-title h1 {
  font-size: 67px;
  font-weight: 100;
  border-bottom: 1px solid #fff;
  margin: 0;
  line-height: 1.6;
  white-space: nowrap;
}

.header__text-title strong {
  text-transform: uppercase;
  display: block;
  font-size: 17px;
  margin-top: 25px;
}

.header__text-title strong .fa {
  margin-right: 20px;
  font-size: 12px;
  color: #555555;
}

.header__text-title strong .fa:last-child {
  margin-right: 0;
  margin-left: 20px;
}

.header__social {
  padding: 0 12.5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.social {
  margin: auto;
}

.social ul, .social li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social a {
  display: block;
  color: #2c2c2c;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 38px;
  width: 38px;
  border-radius: 50%;
  text-align: center;
  margin: 18px 0;
  line-height: 38px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.social a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.header__contacts {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 12.5px 0;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.15);
}

.header__contacts .fa {
  color: #555;
  margin-right: 5px;
}

.header__contacts-phone {
  font-family: firasans, sans-serif;
  text-align: center;
}

.services__carousel {
  background-color: #1a1a1a;
}

.services__carousel .owl-item:nth-child(3n+1) {
  background-color: #66C7CD;
}

.services__carousel .owl-item:nth-child(3n+2) {
  background-color: #F86868;
}

.services__carousel .owl-item:nth-child(3n+3) {
  background-color: #F9C869;
}

.services__item {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.services__item-img {
  background-size: cover;
  background-position: center;
  opacity: .7;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.services__item-img:hover {
  opacity: 1;
}

.services__item-text {
  padding: 50px 10%;
}

.services__item-text-composition {
  margin: auto;
  text-align: center;
  width: 100%;
}

.services__item-text-composition .h3 {
  font-weight: 800;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.services__item-text-composition .h3 span {
  font-size: 18px;
  font-weight: 300;
  display: block;
}

.services__item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 25px;
  text-align: left;
}

.services__item-list li {
  padding: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.services__item-list li:last-child {
  border-bottom: none;
}

.services__item-list strong {
  float: right;
  font-family: firasans, sans-serif;
  color: #4a4a4a;
}

.services__item-list .fa {
  font-size: 14px;
  margin-left: 5px;
}

.services .owl-item {
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
}

.services .owl-item:nth-child(2n+2) .services__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .owl-nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.services .owl-nav > div {
  width: 64px;
  height: 64px;
  background-color: #ffffff;
  color: #1a1a1a;
  position: absolute;
  text-align: center;
  line-height: 64px;
  font-size: 26px;
}

.services .owl-nav > div.owl-prev {
  left: 0;
}

.services .owl-nav > div.owl-next {
  right: 0;
}

.s-king {
  background-image: url(/img/s-king/3.jpg);
}

.s-king p {
  font-size: 18px;
}

.fotorama__nav-wrap {
  position: absolute;
  bottom: 15px;
  padding: 0 30px;
  width: 100%;
}

.fotorama__nav::before, .fotorama__nav::after {
  display: none;
}

.fotorama__thumb {
  border: 5px #3d3d3d solid;
  -webkit-transition: border-color .5s ease;
  transition: border-color .5s ease;
}

.fotorama__thumb-border {
  border-color: #fff;
}

.s-call {
  background-image: url(/img/s-call/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
}

.s-call::before {
  content: "";
  width: 50%;
  background-color: #F9C869;
  opacity: .9;
  position: absolute;
  right: 0;
  height: 100%;
}

.s-call .callback {
  padding: 25% 0;
  color: #ffffff;
  position: relative;
}

.s-call .success {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
}

.s-call .success span {
  margin: auto;
}

.s-call .success ~ * {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.s-call .success.active ~ * {
  opacity: .5;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.s-call input, .s-call textarea, .s-call select, .s-call .selectize-control .selectize-input, .s-call .selectize-control.single .selectize-input.input-active {
  color: #ffffff;
  width: 100%;
  margin-top: 17px;
}

.s-call input::-webkit-input-placeholder, .s-call textarea::-webkit-input-placeholder, .s-call select::-webkit-input-placeholder, .s-call .selectize-control .selectize-input::-webkit-input-placeholder, .s-call .selectize-control.single .selectize-input.input-active::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.s-call input:-ms-input-placeholder, .s-call textarea:-ms-input-placeholder, .s-call select:-ms-input-placeholder, .s-call .selectize-control .selectize-input:-ms-input-placeholder, .s-call .selectize-control.single .selectize-input.input-active:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.s-call input::-ms-input-placeholder, .s-call textarea::-ms-input-placeholder, .s-call select::-ms-input-placeholder, .s-call .selectize-control .selectize-input::-ms-input-placeholder, .s-call .selectize-control.single .selectize-input.input-active::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.s-call input::placeholder, .s-call textarea::placeholder, .s-call select::placeholder, .s-call .selectize-control .selectize-input::placeholder, .s-call .selectize-control.single .selectize-input.input-active::placeholder {
  color: #ffffff;
  opacity: 1;
}

.s-call option {
  color: #333333;
}

.s-call button {
  margin-top: 40px;
}

.s-call .logo img {
  width: 200px;
  -webkit-filter: invert(40%);
          filter: invert(40%);
}

.s-review {
  background-image: url(/img/s-review/bg.jpg);
}

.s-review .reviews {
  text-align: center;
}

.s-review .quotes {
  position: absolute;
  width: 100%;
}

.s-review .quotes::before, .s-review .quotes::after {
  content: ',,';
  position: absolute;
  font-size: 56px;
  color: #F9C869;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  line-height: 0;
}

.s-review .quotes::before {
  top: 185px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -60px;
}

.s-review .quotes::after {
  right: -25px;
  top: 149px;
}

.s-review .owl-dots {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.s-review .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 10em;
  display: inline-block;
  margin: 5px;
  -webkit-transition: background-color .5s ease, -webkit-transform .5s ease;
  transition: background-color .5s ease, -webkit-transform .5s ease;
  transition: background-color .5s ease, transform .5s ease;
  transition: background-color .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.s-review .owl-dots .owl-dot.active {
  background-color: #F9C869;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.s-partners {
  background-image: url(/img/partners/bg-3.jpg);
}

.s-partners.section-overlay::before {
  background-color: #fff;
}

.partners .partner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.partners .partner img {
  max-height: 80px;
}

.partners .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners .owl-stage .owl-item {
  margin-top: 30px;
}

.partners .owl-stage .owl-item img {
  max-width: 100%;
  width: auto;
  display: inline-block;
  margin: auto;
}

.partners .owl-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.partners .owl-nav > div {
  position: absolute;
  top: 50px;
  color: #999999;
  font-size: 30px;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  padding: 0 10px;
}

.partners .owl-nav > div:hover {
  opacity: .7;
}

.partners .owl-nav > div.owl-prev {
  left: -60px;
}

.partners .owl-nav > div.owl-next {
  right: -60px;
}

.footer {
  background-color: #242424;
  font-size: 14px;
  color: #fff;
  padding: 3% 0;
}

.footer .logo-font {
  font-size: 20px;
  margin-bottom: -15px;
  display: block;
}

.footer .footer-column {
  margin: 15px 0;
}

.footer__logo {
  width: 175px;
}

.footer__logo + p {
  color: #666666;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 14px;
  padding: 0;
}

.footer__social {
  margin-top: 40px;
}

.footer__social .social li {
  display: inline-block;
  margin: 3px;
}

.footer__social .social li a {
  color: #ababab;
  margin-bottom: 0;
  -webkit-transition: color .5s ease, background .5s ease;
  transition: color .5s ease, background .5s ease;
}

.footer__social .social li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer__menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__menu ul li.active a {
  color: #F9C869;
}

.footer__menu ul li.active a::before {
  color: #F9C869;
}

.footer__menu ul a {
  color: #979797;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  display: inline-block;
  padding: 4px 0;
  text-decoration: underline;
  padding-left: 20px;
  position: relative;
}

.footer__menu ul a:hover, .footer__menu ul a:focus {
  color: #F9C869;
}

.footer__menu ul a:hover::before, .footer__menu ul a:focus::before {
  color: #F9C869;
}

.footer__menu ul a::before {
  position: absolute;
  font-family: fontawesome;
  content: '\f219';
  left: 0;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  top: 6px;
  margin-right: 12px;
}

.footer__address {
  position: relative;
  font-size: 15px;
  padding-left: 24px;
  margin: 0 0 20px;
}

.footer__address .fa {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 18px;
  color: #555555;
}

.footer__address .footer-phone {
  font-size: 26px;
  font-family: firasans, sans-serif;
  padding-top: 10px;
  display: block;
  white-space: nowrap;
}

.footer__address .footer-phone .fa {
  top: 19px;
  font-size: 22px;
  left: 3px;
}

.footer .map {
  max-height: 250px;
  opacity: .7;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.footer .map:hover {
  opacity: 1;
}

.accent {
  color: #F9C869;
}

.s-king, .s-review, .s-partners {
  padding: 5% 0;
}

.section-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3d3c3c;
  opacity: .92;
}

section.inverse {
  color: #fff;
  background-color: #1a1a1a;
}

section .h2 {
  font-size: 30px;
  font-weight: 800;
}

input, textarea, select, .selectize-control .selectize-input,
.selectize-control.single .selectize-input.input-active {
  background-color: transparent;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
  border-radius: 2px;
  padding: 8px 20px;
  outline: none;
  display: inline-block;
  font-size: 16px;
  color: #333333;
}

.selectize-control .selectize-input {
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: inherit;
  line-height: inherit;
  text-align: left;
}

.selectize-control .selectize-input input {
  font-size: 16px;
}

.selectize-control .selectize-input.dropdown-active::before {
  background-color: transparent;
}

.selectize-control.single .selectize-input::after, .selectize-control.single.dropdown-active::after {
  border: none;
  content: '\f107';
  font-family: fontawesome;
  position: absolute;
  right: 30px;
  top: 10px;
}

.selectize-control.single .selectize-input.dropdown-active::after, .selectize-control.single.dropdown-active.dropdown-active::after {
  content: '\f106';
}

.selectize-control.single .selectize-dropdown {
  font-size: 15px;
  border: none;
  border-radius: 0;
  text-align: left;
}

.selectize-control.single .selectize-dropdown-content .option {
  padding: 10px 22px;
}

.selectize-control.single .selectize-dropdown-content .option.active:hover {
  background-color: #fce3b3;
}

.review__header {
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
}

.review__date {
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-size: 15px;
  color: #888888;
  margin-top: 2px;
}

.review__stars {
  margin: 18px;
  margin-bottom: 35px;
  color: #F9C869;
  font-size: 14px;
}

.review__stars .fa {
  margin: 0 2px;
}

.review__text {
  color: #a9a9a9;
}

select {
  padding: 10px 22px;
}

.top {
  position: fixed;
  bottom: 25px;
  background-color: #e0e0e0;
  border-radius: 10em;
  color: #666;
  font-size: 26px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  right: -100px;
  z-index: 12;
  opacity: .5;
}

.top:hover {
  color: #fff;
  background-color: #f9c766;
  opacity: 1;
}

.top.active {
  right: 30px;
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #1a1a1a;
}

.preloader .pulse {
  position: relative;
  left: 50%;
  top: 50vh;
  margin-left: -40px;
  margin-top: -40px;
}

.preloader .pulse::before, .preloader .pulse::after {
  content: '';
  border: 5px solid #323232;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 500px;
}

.preloader .pulse::before {
  -webkit-animation: pulse-outer .8s ease-in infinite;
          animation: pulse-outer .8s ease-in infinite;
}

.preloader .pulse::after {
  -webkit-animation: pulse-inner .8s linear infinite;
          animation: pulse-inner .8s linear infinite;
}

@-webkit-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@-webkit-keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__text .h1 {
    font-size: 64px;
  }
  .header__contacts {
    font-size: 14px;
  }
}

.s-king, .s-review, .s-partners {
  padding: 7% 0;
}

.s-call {
  background-size: cover;
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__text .h1 {
    font-size: 48px;
  }
  .header__text-composition {
    margin-top: 75px;
  }
  .header::before {
    width: 100%;
  }
  .header .callback {
    padding: 12% 0;
  }
  .footer__address .footer__phone {
    font-size: 20px;
    padding-top: 0;
  }
  .footer__address .footer__phone .fa {
    top: 9px;
  }
  .footer__social {
    margin-top: 25px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header .top-line .logo img {
    margin-left: 15px;
    margin-top: -14px;
    width: 180px;
  }
  .header .phone a {
    font-size: 20px;
  }
  .header__text .h1 {
    font-size: 40px;
  }
  .header__text p span {
    font-size: 12px;
  }
  .header__contacts-phone {
    text-align-last: left;
  }
  .button {
    padding: 12px 36px;
  }
  .quotes {
    display: none;
  }
  .partners .owl-nav > div.owl-prev {
    left: 0px;
  }
  .partners .owl-nav > div.owl-next {
    right: 0px;
  }
  .footer__menu {
    padding-left: 23px;
  }
  .footer__social {
    margin-top: 0;
  }
  .footer__social a {
    margin-top: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header__text-composition {
    margin-top: 5px;
  }
  .col-xxs-10 {
    width: 83.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .top-line .logo img {
    margin-left: 15px;
    margin-top: -14px;
    width: 180px;
  }
  .header .phone {
    display: none;
  }
  .header__text .h1 {
    margin-top: 5px;
    font-size: 28px;
  }
  .header__text p span {
    font-size: 9px;
  }
  .header__text strong {
    margin-top: 14px;
    font-size: 14px;
  }
  .header__text-composition p {
    font-size: 14px;
  }
  .header__contacts-phone {
    text-align-last: left;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
